body{
    background-image: linear-gradient(lightcyan, white);
}

img{
    animation-duration: .2s;
    animation-name: colorDeSat;
    animation-timing-function: linear;
    filter: grayscale(100%);
}

img:hover{
    animation-duration: .2s;
    animation-name: colorSat;
    animation-timing-function: linear;
    filter: grayscale(0%);
}

@keyframes colorSat{
    from{
        filter: grayscale(100%);
    }
    to{
        filter: grayscale(0%);
    }
}

@keyframes colorDeSat{
    from{
        filter: grayscale(0%);
    }
    to{
        filter: grayscale(100%);
    }
}